workflows:
    version: 2.1
    build:
        jobs:
            - build_node_18
            - build_node_20
            - build_node_20

version: 2.1
jobs:
    base: &base
        working_directory: ~/workspace
        docker:
            - image: cimg/node:18.20.3
        steps:
            - checkout
            - restore_cache:
                key: add-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "npm-shrinkwrap.json" }}
            - run: git submodule update --init
            - run:
                name: Install dependencies
                command: npm i --registry https://registry.npmjs.org
            - run:
                name: Build samples
                command: ./build-samples.sh
            - save_cache:
                key: add-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "npm-shrinkwrap.json" }}
                paths:
                    - "node_modules"

    build_node_18:
        <<: *base
        docker:
            - image: cimg/node:18.20.3

    build_node_20:
        <<: *base
        docker:
            - image: cimg/node:20.14.0

    build_node_20:
        <<: *base
        docker:
            - image: cimg/node:22.2.0
